@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0; 
    background-color:rgb(77,89,251);
    min-width: 100vw; 
    min-height: 100vh;
    display:flex; 
    justify-content: center;
    align-items:center; 
    overflow: hidden;
}

.center{
    padding:10px 30px 30px; 
    background-color: #FFFFFF;
    border-radius: 6px;
     min-width: 25rem;
    width:30vw;
    max-height:75vh;
    /* min-height:330px; */
    overflow-y:auto; 
    overflow-x:hidden;
    transition:all 1s ease-in-out;
}

@media screen and (max-width:500px){
    .center{
        min-width:90vw; 
        min-height:70vh;
        overflow-x: hidden;
    }
    .info-text{
        width:20rem;
    }
}
h3{
    font-size:1rem;
}
h2{
    font-size:1.8rem;
}
#title{
    text-align: center;
    font-weight: 300;
    padding:20px 40px; 
}

.search-box{
    position: relative;
}

.search-box :where(i, span){
    position: absolute;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
  }
  .search-box i{
      left:18px; 
      pointer-events: none;
  }
  .search-box span{
    font-size: 18px;
      right:10px; 
      cursor:pointer; 
      display:none; 
  }
  #search::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
  .search-box input:valid~span{
      display:block; 
  }
  .search-box input~span:focus,.search-box input~span:hover{
    color:rgb(77,89,251);

  }

#search_container input{
    
    outline:none; 
    border:1px solid rgb(153,155,166);
    border-radius: 5px;
    padding:10px 10px;
    padding-left: 40px;
    width:100%;

}


#search_container input:focus{
    border:2px solid rgb(77,89,251);

}
#search_container input:focus~i{
    color:rgb(77,89,251);
}
/* #search_container .info-text{
    width:25rem;
} */
.content #phenotic{
    display:flex; 
    position:relative;
    padding:20px 0;  
}

.search-content~i{
   cursor:pointer; 
}

.content #phenotic i{
 position:absolute; 
 right:0; 
 bottom:0;
 top:50%; 
 padding:10px 0; 
 transform:translateY(-50%);
}

.bor-bot{
    border-bottom:1px solid rgb(126,126,126); 
    padding:7px 3px; 
    /* border-left:2px solid rgb(77,89,251); */
    /* border-radius:3px;  */
}
#synonym{
    transition:all 1s ease-in-out;
    padding:10px 0; 
}

#meaning h3,#meaning p{
    transition:all 1s ease-in-out;
    padding:0; 
    margin:2px 0; 
}
.small-content{
    font-size:.90rem; 
    color:rgb(126,126,126); 
}
#synonym span{
    text-decoration: underline;
    cursor:pointer; 
}

.content{
    transition:all 1s ease-in-out;
   display:none; 

}
.center.active .content {
    max-height:330px;
    display:block;
    overflow-y:none;
}
/* .center.active .content::-webkit-scrollbar{
    width:2px;
} */
#search_container p{
    padding-right:30px; 
    width:380px;
    font-size:.7rem;
    margin-top:10px;
    color:rgb(100, 101, 102);
    font-weight: bold; 
    overflow:hidden;
    /* flex-wrap: wrap; */
}

.center.active .info-text{
    display:none; 
}